*{
    margin:0px;
    padding:0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #98c4ed;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    max-width: 500px;
    background-color: #200E3A;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.equal {
    grid-column: span 2; /* Make "=" button span two columns */
}

.display {
    grid-column: span 4;
    text-align: right;
    padding: 15px;
    background-color: #52D3D8;
    font-size: 2.5em;
    border-radius: 10px;
    margin-bottom: 15px;
}

button {
    padding: 15px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #38419D;
    color:white;

    /* box-shadow: 1px 1px  #dddde6; 
    color: #fff;*/
}

button:hover {
    background-color: #7f8088;
    color:black;
}

button.operator {
    background-color: #e74c3c;
}


button.equal {
    background-color: #3887BE;
}

button.equal:hover {
    background-color: #7f8088;
    color:black;
}
